<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h1>Properties list</h1>
  </div>
</div>
<div class="row container">
  <div class="col-2"></div>
  <div class="col">
    <hr>
    <div class="row">
      <div class="col-4 mb-2" *ngFor="let property of properties">
        <div class="card">
          <app-mini-map [lngLat]="property.lngLat" class="card-img-top"></app-mini-map>
          <div class="card-body">
            <h5 class="card-title">{{ property.title }}</h5>
            <p class="card-text">{{ property.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <a target="_blank" href="https://gitlab.com/alpertoy/maps-app"><img src="assets/images/gitlab.png" width="50" height="50" alt="logo">Gitlab Repository</a>
  </div>
</div>

